<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCAnnotatedController:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVCAnnotatedController.war">
      <element id="artifact" artifact-name="SpringMVCAnnotatedController:war exploded" />
    </root>
  </artifact>
</component>